{% extends "adminpanel/adminDashboard.html" %}
{% block title %}
Starline Games Bids History
{% endblock %}

{% block content %}

 <!-- Content Wrapper. Contains page content -->
 <div class="content-wrapper">
    <section class="content-header">
          <div class="container-fluid">
            <div class="row mb-2">
              <div class="col-sm-6">
                <h1>Galidisawer Bid History</h1>
              </div>
              <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                  <li class="breadcrumb-item"><a href="dashboard.php">Home</a></li>
                  <li class="breadcrumb-item active">Galidisawer Bid History</li>
                </ol>
              </div>
            </div>
          </div><!-- /.container-fluid -->
        </section>
    
        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">
                <!-- SELECT2 EXAMPLE -->
                <div class="card card-default">
                    <div class="card-header">
                        <h3 class="card-title">Filters</h3>
    
                        <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse">
                            <i class="fas fa-minus"></i>
                        </button>
                        <button type="button" class="btn btn-tool" data-card-widget="remove">
                            <i class="fas fa-times"></i>
                        </button>
                        </div>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Date</label>
                                    <input type="date" id="date" value="{% now "Y-m-d" %}" class="form-control" />
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                <label>Game Name</label>
                                <select class="form-control select2bs4" id="game_id" style="width: 100%;">
                                    <option value="" selected disabled>Select Game</option>
                                                               {% for i in dt %}
                                                               <option value="{{i.name}}">{{i.name}} {{i.open}}</option>
                                                               {% endfor %}
                                                           
                                                            </select>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                <label>Game Type</label>
                                <select id="game_type" class="form-control select2bs4" style="width: 100%;">
                                    <option value="" selected disabled>Select Game Type</option>
                                    <option value="left_digit">Left Digit</option>
                                    <option value="right_digit">Right Digit</option>
                                    <option value="jodi_digit">Jodi</option>
                                </select>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group mt-2">
                                    <button id="fetchData" class="btn btn-primary mt-4">SAVE</button>
                                </div>
                            </div>
                        </div>
                        <!-- /.row -->
                    </div>
                </div>
                <!-- /.card -->
    
            </div>
        </section>
    
        <!-- Main content -->
        <section class="content">
          <div class="container-fluid">
            <div class="row">
              <div class="col-12">
                <div class="card">
                  <div class="card-header">
                    <h3 class="card-title">
                        <button class="btn btn-primary">Galidisawer Bid History</button>
                    </h3>
                  </div>
                  <!-- /.card-header -->
                  <div class="card-body">
                    <table id="example1" class="table table-bordered table-striped">
                      <thead>
                        <thead>
                          <tr>
                            <th>#</th>
                            <th>Date</th>
                            <th>Mobile Number</th>
                            <th>Bid TXID</th>
                            <th>Game Name</th>
                            <th>Game Type</th>
                            <th>Session</th>
                            <th>Number</th>
                            <th>Points</th>
                            <th>Action</th>
                          </tr>
                          </thead>
                          <tbody id="tbody">
                              
    
                            {% for i in history  %}
                            <tr>
                                <td>{{forloop.counter}}</td>
                                <td>{{i.date}}</td>
                                <td>{{i.mobile}}</td>
                                <td>{{i.bettingid}}</td>
                                <td>{{i.name}}</td>
                                <td style="text-transform: capitalize;">{{i.gametype}}</td>
                                <td style="text-transform: capitalize;">{{i.pana}}</td>
                                <td>{{i.digit}}</td>
                                <td>{{i.points}}</td>
                                <td><a class="btn btn-info" data-toggle="modal" data-target="#updatebids{{forloop.counter}}">Edit</a></td>
                            </tr>    
    
                             <!-- Update Bids -->
        <div class="modal fade" id="updatebids{{forloop.counter}}">
          <div class="modal-dialog">
              <div class="modal-content bg-primary">
                  <div class="modal-header">
                    <h4 class="modal-title">Update Bids</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <form method="POST" action="/GaliBidUpdate">
                    {% csrf_token %}
                      <div class="modal-body">
                          <input type="hidden" name="bettingid" value="{{i.bettingid}}" />
                          
                         
                          <div class="form-group">
                              <label>Update Digit</label>
                              <input type="text" class="form-control" name="bid" required value="{{i.digit}}"/>
                          </div>
                          <div class="form-group">
                              <label>Update Point</label>
                              <input type="text" class="form-control" name="point" required value="{{i.points}}"/>
                          </div>
                      </div>
                      <div class="modal-footer justify-content-between">
                          <button type="button" class="btn btn-outline-light" data-dismiss="modal">Close</button>
                          <button type="submit" name="CreateNew" class="btn btn-outline-light">Save changes</button>
                      </div>
                  </form>
              </div>
                <!-- /.modal-content -->
          </div>
                            {% endfor %}
        
         
        
          
            
        
                          </tbody>
                    </table>
                  </div>
                  <!-- /.card-body -->
                </div>
                <!-- /.card -->
              </div>
              <!-- /.col -->
            </div>
            <!-- /.row -->
          </div>
          <!-- /.container-fluid -->
        </section>
        <!-- /.content -->
    
    </div>

{% endblock %}
