
<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>Satta App</title>
  <!-- Favicons -->
  <link rel="apple-touch-icon" href="https://firebasestorage.googleapis.com/v0/b/kalyan-market-9da36.appspot.com/o/WhatsApp%20Image%202024-10-21%20at%206.55.29%20PM.jpeg?alt=media&token=3328c3ba-45ca-4ed2-b7d1-e943039a8f99" sizes="180x180">
  <link rel="icon" href="assets/images/logo.png" sizes="32x32" type="image/png">

  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="https://dpboss777.co.in/assets/frontend/assets/css/custom.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css" />
  <link rel="stylesheet" href="https://dpboss777.co.in/assets/frontend/assets/css/bootstrap.min.css">
  <link href="https://cdn.jsdelivr.net/npm/remixicon@3.6.0/fonts/remixicon.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/izitoast/1.4.0/css/iziToast.css" />
   
</head>

<body>
  <div class="main-wrapper" id="body-pd">

<!-- sidebar start -->
<div class="sidenav d-flex flex-column justify-content-between" id="nav-bar">
  <div class="sidebody">
    <div class="sidebar-logo">
      <a href="index.html" class="d-flex align-items-center">
        <!-- <img src="assets/images/logo.png" alt="logo" width="70"> -->
        <i class="ri-user-line me-2 " style="color: #ee4f00;"></i>
        <div class="logo-info">
          <h2 class="fw-bold fs-5 m-0" >{{client}}</h2>
          <small class="m-0">{{client.mobile}}</small>
        </div>
      </a>
    </div>
    <ul class="sidebar-menu" id="nav_accordion">
      <li class="nav-item">
        <a href="/games">
          <span class="mm-text dash-item"><i class="ri-home-4-line me-3 fs-2 " style="color: #ee4f00;"></i>Home</span>
        </a>
      </li>
      <li class="nav-item">
        <a href="/myprofile">
          <span class="mm-text dash-item"><i class="ri-user-line me-3 fs-2 " style="color: #ee4f00;"></i>My Profile</span>
        </a>
      </li>
                <li class="nav-item">
        <a href="/history">
          <span class="mm-text dash-item"><i class="ri-hourglass-line me-3 fs-2 " style="color: #ee4f00;"></i>My History</span>
        </a>
      </li>
      <li class="nav-item">
        <a href="/bid-history">
          <span class="mm-text dash-item"><i class="ri-hourglass-line me-3 fs-2 " style="color: #ee4f00;"></i>My Bid</span>
        </a>
      </li>
      <li class="nav-item">
        <a href="/payment">
          <span class="mm-text dash-item"><i class="ri-hourglass-line me-3 fs-2 " style="color: #ee4f00;"></i>Payment Details</span>
        </a>
      </li>
      <li class="nav-item">
        <a href="/passbook">
          <span class="mm-text dash-item"><i class="ri-medal-line me-3 fs-2 " style="color: #ee4f00;"></i>Account Statement</span>
        </a>
      </li>
      <li class="nav-item">
        <a href="/gameprice">
          <span class="mm-text dash-item"><i class="ri-medal-line me-3 fs-2 " style="color: #ee4f00;"></i>Game Rates</span>
        </a>
      </li>
      <li class="nav-item">
        <a href="/howtoplay">
          <span class="mm-text dash-item"><i class="ri-medal-line me-3 fs-2 " style="color: #ee4f00;"></i>How to Play</span>
        </a>
      </li>
      
                <li class="nav-item">
        <a href="/privacypolicy">
          <span class="mm-text dash-item"><i class="ri-medal-line me-3 fs-2 " style="color: #ee4f00;"></i>Privacy Policy</span>
        </a>
      </li>
                
      <li class="nav-item">
          <a href="/Elogout" ><span class="mm-text dash-item"><i class="ri-notification-line me-3 fs-2 " style="color: #ee4f00;"></i>Logout</span></a>
                               
        
      </li>
     
    </ul>
  </div>

</div><!-- sidebar end -->

<!-- main header start -->
    <main class="fullheight bg-light">

<!-- main header end -->
        <div class="main-body">
            <div class="home-wraper">
                <div class="container">
                    <form action="/StarlineSinglebet" id="myform" method="POST">
                      {% csrf_token %}
            <input type="hidden" name="_token" value="kC5PLvUv6M9LXE4yqz4Vb9dL5RjSDZ8v1nkQdRpg"><div class="fxdsng sticky-top bg-white pb-4">
  <div class="row gy-3 px-0">
            <div class="col-sm-12 mb-2 mt-0 px-0">
             <div class="bg-info shadow-sm px-3 py-2 d-flex align-items-center justify-content-between" style="background-color: #d0960e !important;">
              <h5 class="fw-semibild m-0"><a href='/starlinegametype{{name}}'><span class="ri-arrow-left-line me-3"></span></a>Tripple Patti</h5>
              <div class="wallet px-3 py-1 rounded-2 bg-white bg-opacity-50">
              <i class="ri-wallet-3-line fs-6"></i> <span class="ms-2 fs-6">{{client.wallet}}</span>
            </div>
             </div>
            </div>
          </div>
          
            <input type="hidden" name="game_id" value="35"/>
            <input type="hidden" name="pana" value="tripplepatti"/>
            <input type="hidden" name="page" value="tripple-patti"/>
            <input type="hidden" name="pana_name" value="Tripple Patti"/>
            <input type="hidden" name="game_name" value="{{name}}"/>
            <div class="row row-cols-xl-6 row-cols-lg-5 row-cols-md-5 row-cols-sm-5 row-cols-4 gy-3 px-3">
            <div class="col-xl-6 col-lg-6 col-md-6 col-6">
            <input type="text" readonly class="form-control w-auto" value="{% now "Y-m-d" %}">
                  <input type="hidden"  class="form-control w-auto" name="bid_date" value="{{td}}">
            </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-6">
                <div class="select-field ms-sm-auto d-sm-table">
                    <select name="session"  class="form-select w-auto">
                        <option value="open">{{name}} OPEN</option>
                        <option value="close">{{name}} CLOSE</option>
                    </select>
                </div>
            </div>
                        <div class="col-xl-12 col-lg-12 col-md-12 col-12">
                <h5 class="text-center" style="color: #d0960e !important;">Select Points for Betting</h5>
            </div>
            <div class="col">
                <div class="pbtn">
                    <input class="form-check-input" type="radio" name="flexRadioDefault"  id="flexRadioDefault1" hidden>
                    <label for="flexRadioDefault1" class="btn btn-light shadow-sm px-4 py-2 w-100 points" name="points" data-id="5" value="5">5</label>
                </div>
            </div>
            <div class="col">
                <div class="pbtn">
                <input class="form-check-input" type="radio" name="flexRadioDefault"  id="flexRadioDefault2" hidden>
                <label for="flexRadioDefault2" class="btn btn-light shadow-sm px-4 py-2 w-100 points" name="points"  data-id="10" value="10">10</label>
                </div>
            </div>
             <div class="col">
                <div class="pbtn">
                <input class="form-check-input" type="radio" name="flexRadioDefault"  id="flexRadioDefault3" hidden>
                <label for="flexRadioDefault3" class="btn btn-light shadow-sm px-4 py-2 w-100 points" name="points" data-id="20"  value="20">20</label>
                </div>
            </div>
            <div class="col">
                <div class="pbtn">
                <input class="form-check-input" type="radio" name="flexRadioDefault"  id="flexRadioDefault4" hidden>
                <label for="flexRadioDefault4" class="btn btn-light shadow-sm px-4 py-2 w-100 points" name="points" data-id="50"  value="50">50</label>
                </div>
            </div>
            <div class="col">
                <div class="pbtn">
                <input class="form-check-input" type="radio" name="flexRadioDefault"  id="flexRadioDefault5" hidden>
                <label for="flexRadioDefault5" class="btn btn-light shadow-sm px-4 py-2 w-100 points" name="points" data-id="100"  value="100">100</label>
                </div>
            </div>
            <div class="col">
                <div class="pbtn">
                <input class="form-check-input" type="radio" name="flexRadioDefault"  id="flexRadioDefault6" hidden>
                <label for="flexRadioDefault6" class="btn btn-light shadow-sm px-4 py-2 w-100 points" name="points" data-id="200"  value="200">200</label>
                </div>
            </div>
            <div class="col">
                <div class="pbtn">
                <input class="form-check-input" type="radio" name="flexRadioDefault"  id="flexRadioDefault7" hidden>
                <label for="flexRadioDefault7" class="btn btn-light shadow-sm px-4 py-2 w-100 points" name="points" data-id="500"  value="500">500</label>
                </div>
            </div>
            <div class="col">
                <div class="pbtn">
                <input class="form-check-input" type="radio" name="flexRadioDefault"  id="flexRadioDefault8" hidden>
                <label for="flexRadioDefault8" class="btn btn-light shadow-sm py-2 w-100 points" name="points" data-id="1000"  value="1000">1000</label>
                </div>
            </div>
        </div>
        </div>
        <div class="select-digit-wrap mt-4">
            <div class="sdigit">
                <h5 class="text-center" style="color: #d0960e !important;">Select Digits</h5>

            </div>
            <div class="scrrolar d-flex flex-column gap-4">
            
            
            
                <div class="inner-row row row-cols-xl-6 row-cols-lg-5 row-cols-md-5 row-cols-sm-5 row-cols-4 gy-2">
                <div class="col-xl-12 col-lg-12 col-md-12 col-12">
                        <h6 class="text-dark fw-bold pt-3">Select All Digits</h6>
                    </div>
                                          <div class="col">
                        <div class="digit-field text-center">
                            000
                            <input type="text" class="form-control text-center px-sm-4 py-3 border-dark digits" data-point="0" data-id="000" readonly style="cursor:pointer"> 
                            <div class="bid" id="bid000"></div>
                        </div>
                      </div>
               
            
                                  <div class="col">
                        <div class="digit-field text-center">
                            111
                            <input type="text" class="form-control text-center px-sm-4 py-3 border-dark digits" data-point="0" data-id="111" readonly style="cursor:pointer"> 
                            <div class="bid" id="bid111"></div>
                        </div>
                      </div>
               
            
                                  <div class="col">
                        <div class="digit-field text-center">
                            222
                            <input type="text" class="form-control text-center px-sm-4 py-3 border-dark digits" data-point="0" data-id="222" readonly style="cursor:pointer"> 
                            <div class="bid" id="bid222"></div>
                        </div>
                      </div>
               
            
                                  <div class="col">
                        <div class="digit-field text-center">
                            333
                            <input type="text" class="form-control text-center px-sm-4 py-3 border-dark digits" data-point="0" data-id="333" readonly style="cursor:pointer"> 
                            <div class="bid" id="bid333"></div>
                        </div>
                      </div>
               
            
                                  <div class="col">
                        <div class="digit-field text-center">
                            444
                            <input type="text" class="form-control text-center px-sm-4 py-3 border-dark digits" data-point="0" data-id="444" readonly style="cursor:pointer"> 
                            <div class="bid" id="bid444"></div>
                        </div>
                      </div>
               
            
                                  <div class="col">
                        <div class="digit-field text-center">
                            555
                            <input type="text" class="form-control text-center px-sm-4 py-3 border-dark digits" data-point="0" data-id="555" readonly style="cursor:pointer"> 
                            <div class="bid" id="bid555"></div>
                        </div>
                      </div>
               
            
                                  <div class="col">
                        <div class="digit-field text-center">
                            666
                            <input type="text" class="form-control text-center px-sm-4 py-3 border-dark digits" data-point="0" data-id="666" readonly style="cursor:pointer"> 
                            <div class="bid" id="bid666"></div>
                        </div>
                      </div>
               
            
                                  <div class="col">
                        <div class="digit-field text-center">
                            777
                            <input type="text" class="form-control text-center px-sm-4 py-3 border-dark digits" data-point="0" data-id="777" readonly style="cursor:pointer"> 
                            <div class="bid" id="bid777"></div>
                        </div>
                      </div>
               
            
                                  <div class="col">
                        <div class="digit-field text-center">
                            888
                            <input type="text" class="form-control text-center px-sm-4 py-3 border-dark digits" data-point="0" data-id="888" readonly style="cursor:pointer"> 
                            <div class="bid" id="bid888"></div>
                        </div>
                      </div>
               
            
                                  <div class="col">
                        <div class="digit-field text-center">
                            999
                            <input type="text" class="form-control text-center px-sm-4 py-3 border-dark digits" data-point="0" data-id="999" readonly style="cursor:pointer"> 
                            <div class="bid" id="bid999"></div>
                        </div>
                      </div>
               
            
             
            </div>
             </div>
            <div class="bibtn d-flex justify-content-between align-items-center py-2 fixed-bottom px-4 bg-light">
                <button type="reset" class="btn btn-dark btnreset">Reset BID</button>
                               <button type="button" class="btn btn-info" data-bs-toggle="modal" data-bs-target="#submitpop" style="background-color: #d0960e !important;">Submit BID</button>

                
        </div>
        
<!-- modal-->
<div class="modal fade" id="submitpop" tabindex="-1" aria-labelledby="exampleModalLabel" aria-modal="true" role="dialog">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header bg-info text-dark">
        <h1 class="modal-title fs-5" id="exampleModalLabel">{{name}} {{td}}</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="table-responsive">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Digits</th>
                        <th>Points</th>
                        <th>Game Type</th>
                    </tr>
                </thead>
                <tbody class="tdata">
                  <input type="hidden" id="digit1" readonly name="digit1">
                  <input type="hidden" id="points1" readonly name="points1">
                  <input type="hidden" id="total" readonly name="total">
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="4">
                            <p>*Note Bid Once Played Will Not Be Cancelled*</p>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
      </div>
      <div class="modal-footer">
        <div class="row tbldta gy-2">
          <div class="col-6">
            <h6>Total Bids</h6>
          </div>
          <div class="col-6 text-end">
            <h6  id="bids">0</h6>
          </div>
          <div class="col-6">
            <h6>Total Bid Amount</h6>
          </div>
          <div class="col-6 text-end">
            <h6  id="points">0</h6>
          </div>
          <div class="col-6">
            <button type="button" class="btn btn-primary"  class="btn-close" data-bs-dismiss="modal" aria-label="Close">Cancel</button>
          </div>
          <div class="col-6 text-end">
           <button type="submit" class="btn btn-info" onclick="this.form.submit();this.disabled = true;">Submit</button>
          </div>
        </div>
        
      </div>
    </div>
  </div>
</div>
</form>
                </div>
            </div>
        </div>
        <!-- Page Area End Here -->
    </main>
  </div>

  <script src="https://dpboss777.co.in/assets/frontend/assets/js/jquery.min.js"></script>
  <script src="https://dpboss777.co.in/assets/frontend/assets/js/bootstrap.bundle.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/izitoast/1.4.0/js/iziToast.js"></script>
  <script src="https://dpboss777.co.in/assets/frontend/assets/js/main.js"></script>
    


  
        
    
    <script>
  $(document).ready(function(){
    pt=[]
    dt=[]
    var points=0;
    $('.points').on('click',function(){
      var points=$(this).data('id');
      $('.digits').data('point',points);
    });
    $('.digits').on('click',function(){
      var id=$(this).data('id');
      var digit=$(this).val();
      var point=parseInt($(this).data('point'));
      var num=0;
      {% comment %} var session = $('#type').find(":selected").val(); {% endcomment %}
      if(point==0){
        alert('first select point');
        return false;
      }
      if(digit){
        num=parseInt(digit)+point;
        $(this).val(num);
        var bid='<input type="hidden" name="bid['+id+']" value="'+num+'" >';
        $('#bid'+id).html(bid);
        var tbid="<td>"+id+"</td><td>"+num+"</td>";
        $('.tbid'+id).html(tbid);
        var points=parseInt($('#points').html())+point;
        $('#points').html(points);
        $('#total').val(points);

      }else{
        $(this).val(point);
        var bid='<input type="hidden" name="bid['+id+']" value="'+point+'" >';
        $('#bid'+id).html(bid);
        var tbid="<tr class='tbid"+id+"'  data-id='"+id+"'><td>"+id+"</td><td>"+point+"</td></tr>";
        $('.tdata').append(tbid);
        var bids=parseInt($('#bids').html())+1;
        var points=parseInt($('#points').html())+point;
        $('#bids').html(bids);
        $('#total').val(points);
        pt.push(point)
        dt.push(id)
        $('#points1').val(pt);
        $('#digit1').val(dt);
        $('#points').html(points);
      }
     
    });
    $('.btnreset').on('click',function(){
      $('.bid').html("");
        $('.tdata').html("");
        $('#bids').html("0");
        $('#points').html("0");
        $('.digits').val("");
    });
    $('#type').on('change',function(){
      $('.bid').html("");
        $('.digits').val("");
        $('.tdata').html("");
        $('#bids').html("0");
        $('#points').html("0");
    });
  });
</script>

</body>

</html>