{% comment %} {% extends "link.html" %}
{% load static %}


{% block content %}


{% endblock  %} {% endcomment %}

<style>
  .imgclose:hover {
    animation: shake 0.5s linear infinite;
}

/*Using keyframes for shaking an image*/
@keyframes shake {
  0%, 100% {transform: translateX(0);} 
  10%, 30%, 50%, 70%, 90% {transform: translateX(-10px);} 
  20%, 40%, 60%, 80% {transform: translateX(10px);} 
}
</style>

<link rel="stylesheet" href="https://dpboss777.co.in/assets/frontend/assets/css/bootstrap.min.css">
<div class="header-area sticky-top bg-white">
  <header class="header " id="header"   style="background-color: #d0960e;">
        <nav class="navbar navbar-expand-lg w-100 container">
          <div class="header_toggle d-flex align-items-center">
            <i class="bx bx-menu fs-3 text-white me-2" id="header-toggle"></i>
            <a href=""><h5 class="fw-bold text-white m-0" > Dhan Laxmi Online Matka App </h5></a>
          </div>
          {% if client.status == "yes" %}
          <div class="topmenu ms-auto d-flex align-items-center gap-5">              <div class="wallet px-3 py-1 rounded-2 bg-white bg-opacity-50">
            <i class="ri-wallet-3-line fs-6"></i> <span class="ms-2 fs-6">{{client.wallet}}</span>
          </div>
        </div>
        {% endif %}
        </nav>
  </header>
  {% if client.status == "yes" %}
  <div class="row align-items-center home hdrwrap mx-auto container">
                <div class="col-sm-12 mb-0 px-0">
        <div class="bg-secondary bg-opacity-25 shadow-sm p-2">
        <marquee direction="left" loop=""> 
            <h5 class="fw-semibild text-center m-0 text-danger fs-6">{{notice}}</h5>
        </marquee>
        </div>
      </div>
    <div class="col-6 ms-auto">
      <div class="media-group d-flex align-items-center justify-content-center gap-3">
        <a role="button" class="whatsapp" data-bs-toggle="modal" data-bs-target="#whastmodd">
          <img src="https://dpboss777.co.in/assets/frontend/assets/images/whatsapp.webp" alt="whatsapp" class="img-fluid" width="40" height="40">
        </a>
                <a href="https://t.me/{{sp.telegram}}" class="telegram" >
         <img src="https://firebasestorage.googleapis.com/v0/b/kalyan-market-9da36.appspot.com/o/telegram%20(1).png?alt=media&token=c28e754b-0e9a-4caa-90c6-12573c77edfc" alt="" style="height: 30px; width: 30px;">
        </a>
              </div>
    </div>
            <div class="col-sm-12 pt-2 pb-2">
      <div class="paybtn d-flex justify-content-between align-items-center">
      
        {% comment %} <a href="/addfunds" class="btn btn-outline-success btn-md"><span class="ri-bank-card-line me-2 rounded-5"></span> Recharge</a>
        <a href="/withdrawal" class="btn btn-outline-primary btn-md"><span class="ri-bank-card-line me-2 rounded-5"></span> Withdrawal</a> {% endcomment %}
       <a href="/starlines" class="text-center text-dark"><img src="https://firebasestorage.googleapis.com/v0/b/kalyan-market-9da36.appspot.com/o/star.png?alt=media&token=de0da1aa-cc0d-42db-9759-759f7b0325d4" alt="" style="height: 30px; width: 30px;"></span>Starline</a>
       <a href="/GaliDesawarPage" class="text-center text-dark"><img src="https://firebasestorage.googleapis.com/v0/b/kalyan-market-9da36.appspot.com/o/king.png?alt=media&token=7ed871f9-8214-4613-9bc1-1b7d9a8ecc3b" alt="" style="height: 30px; width: 30px;">King Jackpot</a>
       <a href="/addfunds" class="text-center text-dark"><img src="https://firebasestorage.googleapis.com/v0/b/kalyan-market-9da36.appspot.com/o/wallet.png?alt=media&token=06d8d73e-69cb-419e-8726-40da68fe32a0" alt="" style="height: 30px; width: 30px; padding: 2px;">Recharge</a>
       <a href="/withdrawal" class="text-center text-dark"><img src="https://firebasestorage.googleapis.com/v0/b/kalyan-market-9da36.appspot.com/o/mobile-banking.png?alt=media&token=8f9c587c-0d97-4684-b183-2065ab6a9251" alt="" style="height: 30px; width: 30px;">Withdrawal</a>
       
      </div>
    </div>
  </div>
  {% endif %}
</div>

<!doctype html>
<html lang="en">
{% load static %}
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>Dhan Laxmi Online Matka App</title>
  <meta meta name="viewport" content= 
  "width=device-width, user-scalable=no" />
  <!-- Favicons -->
  <link rel="icon" href="static\images\logo.png" sizes="180x180">
  <link rel="icon" href="static\images\logo.png" sizes="32x32" type="image/png">

          
<!-- CSS -->
<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.14.0/build/css/alertify.min.css"/>
<!-- Default theme -->
<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.14.0/build/css/themes/default.min.css"/>

  <!-- Bootstrap core CSS -->
   <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
   <link rel="stylesheet" href="{% static 'css/custom.css' %}">
  <link rel="stylesheet" href="https://dpboss777.co.in/assets/frontend/assets/css/custom.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css" />
  <link rel="stylesheet" href="https://dpboss777.co.in/assets/frontend/assets/css/bootstrap.min.css">
  <link href="https://cdn.jsdelivr.net/npm/remixicon@3.6.0/fonts/remixicon.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/izitoast/1.4.0/css/iziToast.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>

<body onload="chektime()" >
  <div class="main-wrapper" id="body-pd">

<!-- sidebar start -->
<div class="sidenav d-flex flex-column justify-content-between" id="nav-bar">
  <div class="sidebody">
    <div class="sidebar-logo">
      <a href="index.html" class="d-flex align-items-center">
        <!-- <img src="assets/images/logo.png" alt="logo" width="70"> -->
        <i class="ri-user-line me-2 " style="color: #ee4f00;"></i>
        <div class="logo-info">
          <h2 class="fw-bold fs-5 m-0" >{{client}}</h2>
          <small class="m-0">{{client.mobile}}</small>
        </div>
      </a>
    </div>
    <ul class="sidebar-menu" id="nav_accordion">
      <li class="nav-item">
        <a href="/games">
          <span class="mm-text dash-item"><i class="ri-home-4-line me-3 fs-2 " style="color: #ee4f00;"></i>Home</span>
        </a>
      </li>
      <li class="nav-item">
        <a href="/myprofile">
          <span class="mm-text dash-item"><i class="ri-user-line me-3 fs-2 " style="color: #ee4f00;"></i>My Profile</span>
        </a>
      </li>
                <li class="nav-item">
        <a href="/history">
          <span class="mm-text dash-item"><i class="ri-hourglass-line me-3 fs-2 " style="color: #ee4f00;"></i>My History</span>
        </a>
      </li>
      <li class="nav-item">
        <a href="/bid-history">
          <span class="mm-text dash-item"><i class="ri-hourglass-line me-3 fs-2 " style="color: #ee4f00;"></i>My Bid</span>
        </a>
      </li>
      <li class="nav-item">
        <a href="/payment">
          <span class="mm-text dash-item"><i class="ri-hourglass-line me-3 fs-2 " style="color: #ee4f00;"></i>Payment Details</span>
        </a>
      </li>
      <li class="nav-item">
        <a href="/passbook">
          <span class="mm-text dash-item"><i class="ri-medal-line me-3 fs-2 " style="color: #ee4f00;"></i>Account Statement</span>
        </a>
      </li>
      <li class="nav-item">
        <a href="/gameprice">
          <span class="mm-text dash-item"><i class="ri-medal-line me-3 fs-2 " style="color: #ee4f00;"></i>Game Rates</span>
        </a>
      </li>
      <li class="nav-item">
        <a href="/howtoplay">
          <span class="mm-text dash-item"><i class="ri-medal-line me-3 fs-2 " style="color: #ee4f00;"></i>How to Play</span>
        </a>
      </li>
      
                <li class="nav-item">
        <a href="/privacypolicy">
          <span class="mm-text dash-item"><i class="ri-medal-line me-3 fs-2 " style="color: #ee4f00;"></i>Privacy Policy</span>
        </a>
      </li>
                
      <li class="nav-item">
          <a href="/Elogout" ><span class="mm-text dash-item"><i class="ri-notification-line me-3 fs-2 " style="color: #ee4f00;"></i>Logout</span></a>
                               
        
      </li>
     
    </ul>
  </div>

</div><!-- sidebar end -->

<!-- main header start -->
    <main class="fullheight bg-light">

<!-- main header end -->
        <div class="main-body">
            <div class="home-wraper">
                <div class="container">
                    
            <div class="row align-items-center">
            <div class="col-sm-12">
              <div class="playcards mt-4 hmpc">
              <!-- Game Detail start -->                                                                                                                                                                                                                                                                                                         
                                                 
                   {% for i in gm %}

                   <div class="card rounded-3 shadow-sm border-0 mb-3" style="background: rgb(190,157,0);
background: linear-gradient(90deg, rgba(190,157,0,1) 0%, rgba(177,89,4,1) 49%, rgba(216,124,0,1) 100%);">
                    
                    <div class="card-body  row justify-content-center py-1 align-items-center">
                      <div class="col-sm-12 text-center">
                        <h6 class="text-white">{{i.name}} </h6>
                      </div>
                      <div class="col-4">
                        {% if client.status == "yes" %}
                        <a href='{{i.chart}}' ><img src="https://firebasestorage.googleapis.com/v0/b/kalyan-market-9da36.appspot.com/o/growth.png?alt=media&token=0326f4ed-1c96-4dbf-ae85-b08b9c091a03" alt="" style="height: 40px; border-radius: 100%;"></a>
                        {% endif %}
                                                </div>
                      <div class="col-4 text-center px-0">
                        {% if client.status == "yes" %}                        <h6 style="color: #0ceb2d; font-weight: 600;">{% if i.OpenPanna == "" %}***-**-*** {% elif  i.ClosePanna == "" %}{{i.OpenPanna}}-{{i.SinglePanna}}-*** {% else %}{{i.OpenPanna}}-{{i.JodiPanna}}-{{i.ClosePanna}}{% endif %}</h6>
                        {% else %}
                       <p class="text-white"> ***-**-***</p>
                        {% endif %}
                      </div>
                      <div class="col-4">
                        <div class="gbtn text-end">
                          {% if client.status == "yes" %}
                          {% if i.status == "open"    %}
                          <a href='/gametype{{i.name}}'  id="playbtn"><Button class="btn " style="background-color: rgb(255, 216, 187);">PLAY</Button></a>
                          {% else %}
                          <a  id="playbtn" class="disabled " ><i class="fa-regular fa-circle-xmark imgclose" style="color: #e10909; font-size: 37px;"></i></a> 
                          {% endif %}
                          {% endif %}
                          
                                                                                                     
                                     
                                     
                                   
                                    
                                                      </div>
                      </div>
                                               <div class="col-sm-12 text-center">
                                                {% if client.status == "yes" %}
                                                {% if i.status == "open"  %}
                                                <div style="color: wheat; font-weight: 400;">Betting is running now</div>
                                                {% elif i.status == "close" %} 
                                                <div style="color: red; font-weight: 400;">Betting is closed for today</div>                                               
                                                {% else %}                                             
                                                <div style="color: red; font-weight: 400;">HoliDay</div>                                               
                                                   {% endif %}
                                                {% endif %}
                                                                                  
                          
                                                  
                      </div>
                                            </div>
                                            <div class="card-header border-0  d-flex justify-content-between" style="background-color: #ee4f00">
                                              <h6 class="m-0 fw-bold text-white" id="open">OPEN:{{i.open}} </h6>
                                              <h6 class="m-0 fw-bold text-white" id="close" value="{{i.close}}">CLOSE:{{i.close}} </h6>
                                            </div>
                  </div>
                           

                   {% endfor %}                                                                                                                                                                                                                                                                                                                        
                     <!-- Game Detail end -->
              </div>
            </div>
          </div>

                 {% if client.status == "yes" %}
                 <div class="footer  py-1 fixed-bottom d-lg-none" style="background-color: #d0960e;">
                  <div class="ftrmenu d-flex align-items-center gap-2 justify-content-evenly">
                    <a href="#" class="text-white text-center">
                      <span class="d-block ri-chat-voice-line"></span>
                      Game
                    </a>
                    <a href="bid-history" class="text-white text-center">
                      <span class="d-block ri-token-swap-line"></span>
                      My BId's
                    </a>
                    <a href="passbook" class="text-white text-center">
                      <span class="d-block ri-git-repository-line"></span>
                      Passbook
                    </a>
                    <a href="history" class="text-white text-center">
                      <span class="d-block ri-history-line"></span>
                      History
                    </a>
                  </div>
                </div>
                 {% endif %}
                
<!-- Open Bid Modal -->
<div class="modal fade" id="openbid" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header bg-warning">
        <h1 class="modal-title fs-6 text-center" id="exampleModalLabel">Shridevi Morning</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body py-1">
        <div class="obd d-flex justify-content-beween border-bottom border border-light align-items-center">
          <h6><i class="ri-time-line me-1 text-warning"></i> Open Bid Last Time</h6>
          <p class="mb-0">9:35 AM</p>
        </div>
        <div class="obd d-flex justify-content-beween border-bottom border border-light align-items-center">
          <h6><i class="ri-time-line me-1 text-warning"></i> Open Bid Last Time</h6>
          <p class="mb-0">9:35 AM</p>
        </div>
        <div class="obd d-flex justify-content-beween border-bottom border border-light align-items-center">
          <h6><i class="ri-time-line me-1 text-warning"></i> Open Bid Last Time</h6>
          <p class="mb-0">9:35 AM</p>
        </div>
        <div class="obd d-flex justify-content-beween border-bottom border border-light align-items-center">
          <h6><i class="ri-time-line me-1 text-warning"></i> Open Bid Last Time</h6>
          <p class="mb-0">9:35 AM</p>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-warning w-100" data-bs-dismiss="modal">Ok</button>
      </div>
    </div>
  </div>
</div>


<!-- Whatsup Modal -->
<div class="modal fade" id="whastmodd" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header " style="background-color: #d0960e; color: white;">
        <h1 class="modal-title fs-6 text-center" id="exampleModalLabel">Select One</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body py-1">
                  <a href="tel:+91{{sp.support}}" class="obd text-dark py-1 d-flex justify-content-beween border-bottom border border-light align-items-center">
          <h6><i class="ri-phone-fill me-2  fs-5"></i> Call</h6>
        </a>
                 <a href="https://wa.me/+91{{sp.whatsapp}}" target="_blank" class="obd py-1 text-dark d-flex justify-content-beween border-bottom border border-light align-items-center">
          <h6><i class="ri-whatsapp-line me-2  fs-5"></i> Whatsapp</h6>
        </a>
      </div>
    </div>
  </div>
</div>
                </div>
            </div>
        </div>
        <!-- Page Area End Here -->
    </main>
  </div>


  <script src="{% static 'js/jquery.min.js' %}"></script>
  <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'js/main.js' %}"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/izitoast/1.4.0/js/iziToast.js"></script>
  <script src="https://dpboss777.co.in/assets/frontend/assets/js/jquery.min.js"></script>
  <script src="https://dpboss777.co.in/assets/frontend/assets/js/bootstrap.bundle.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/izitoast/1.4.0/js/iziToast.js"></script>
  <script src="https://dpboss777.co.in/assets/frontend/assets/js/main.js"></script>
    
    


  
  <script src="//cdn.jsdelivr.net/npm/alertifyjs@1.14.0/build/alertify.min.js"></script>
  <script>
     {% if message  %}
     alertify.set('notifier','position', 'top-right');
     alertify.success('{{message}}' );
     {% endif %}
   </script>     
    
    
</body>

</html>


<script>

  function chektime(){
    var date = new Date();
    var hours = date.getHours();
  var minutes = date.getMinutes();
  var ampm = hours >= 12 ? 'PM' : 'AM';
  hours = hours % 12;
  hours = hours ? hours : 12; // the hour '0' should be '12'
  minutes = minutes < 10 ? '0'+minutes : minutes;
  var strTime = hours + ':' + minutes + ' ' + ampm;


  {% for i in gm %}
  {% if i.close == strTime  %} 
  document.location.href = "/CloseGame{{i.name}}";
    {% else %}
 
  {% endif %}
  {% endfor %}

  if(strTime == "12:00 AM"){
    document.location.href = "/OpenGame";
  }

  }


  function batingclose(){
    alert("Betting is closed for today")
  }
</script>